@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #0a1310;
}

.pulse-anim {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: draw 2.4s linear infinite;
}

@keyframes draw {
  to {
    stroke-dashoffset: -300;
  }
}
